<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datangedu.cn.dao.mapper.ProductMapper">
  <resultMap id="BaseResultMap" type="com.datangedu.cn.model.Product.Product">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="CODE" jdbcType="INTEGER" property="code" />
    <result column="IMG" jdbcType="VARCHAR" property="img" />
    <result column="INFO" jdbcType="VARCHAR" property="info" />
    <result column="SHOW_ORDER" jdbcType="INTEGER" property="showOrder" />
    <result column="STYLE_ID" jdbcType="VARCHAR" property="styleId" />
    <result column="TYPE_ID" jdbcType="VARCHAR" property="typeId" />
    <result column="MARKET_PRICE" jdbcType="INTEGER" property="marketPrice" />
    <result column="UNIT" jdbcType="VARCHAR" property="unit" />
    <result column="STORE_NUM" jdbcType="INTEGER" property="storeNum" />
    <result column="SALE_NUM" jdbcType="INTEGER" property="saleNum" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, NAME, CODE, IMG, INFO, SHOW_ORDER, STYLE_ID, TYPE_ID, MARKET_PRICE, UNIT, STORE_NUM, 
    SALE_NUM, STATUS
  </sql>
  <select id="selectByExample" parameterType="com.datangedu.cn.model.Product.ProductExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from product
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.datangedu.cn.model.Product.ProductExample">
    delete from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.datangedu.cn.model.Product.Product">
    insert into product (ID, NAME, CODE, 
      IMG, INFO, SHOW_ORDER, 
      STYLE_ID, TYPE_ID, MARKET_PRICE, 
      UNIT, STORE_NUM, SALE_NUM, 
      STATUS)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=INTEGER}, 
      #{img,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR}, #{showOrder,jdbcType=INTEGER}, 
      #{styleId,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}, #{marketPrice,jdbcType=INTEGER}, 
      #{unit,jdbcType=VARCHAR}, #{storeNum,jdbcType=INTEGER}, #{saleNum,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.datangedu.cn.model.Product.Product">
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="code != null">
        CODE,
      </if>
      <if test="img != null">
        IMG,
      </if>
      <if test="info != null">
        INFO,
      </if>
      <if test="showOrder != null">
        SHOW_ORDER,
      </if>
      <if test="styleId != null">
        STYLE_ID,
      </if>
      <if test="typeId != null">
        TYPE_ID,
      </if>
      <if test="marketPrice != null">
        MARKET_PRICE,
      </if>
      <if test="unit != null">
        UNIT,
      </if>
      <if test="storeNum != null">
        STORE_NUM,
      </if>
      <if test="saleNum != null">
        SALE_NUM,
      </if>
      <if test="status != null">
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=INTEGER},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR},
      </if>
      <if test="showOrder != null">
        #{showOrder,jdbcType=INTEGER},
      </if>
      <if test="styleId != null">
        #{styleId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="marketPrice != null">
        #{marketPrice,jdbcType=INTEGER},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="storeNum != null">
        #{storeNum,jdbcType=INTEGER},
      </if>
      <if test="saleNum != null">
        #{saleNum,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.datangedu.cn.model.Product.ProductExample" resultType="java.lang.Long">
    select count(*) from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update product
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null">
        CODE = #{record.code,jdbcType=INTEGER},
      </if>
      <if test="record.img != null">
        IMG = #{record.img,jdbcType=VARCHAR},
      </if>
      <if test="record.info != null">
        INFO = #{record.info,jdbcType=VARCHAR},
      </if>
      <if test="record.showOrder != null">
        SHOW_ORDER = #{record.showOrder,jdbcType=INTEGER},
      </if>
      <if test="record.styleId != null">
        STYLE_ID = #{record.styleId,jdbcType=VARCHAR},
      </if>
      <if test="record.typeId != null">
        TYPE_ID = #{record.typeId,jdbcType=VARCHAR},
      </if>
      <if test="record.marketPrice != null">
        MARKET_PRICE = #{record.marketPrice,jdbcType=INTEGER},
      </if>
      <if test="record.unit != null">
        UNIT = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.storeNum != null">
        STORE_NUM = #{record.storeNum,jdbcType=INTEGER},
      </if>
      <if test="record.saleNum != null">
        SALE_NUM = #{record.saleNum,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update product
    set ID = #{record.id,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      CODE = #{record.code,jdbcType=INTEGER},
      IMG = #{record.img,jdbcType=VARCHAR},
      INFO = #{record.info,jdbcType=VARCHAR},
      SHOW_ORDER = #{record.showOrder,jdbcType=INTEGER},
      STYLE_ID = #{record.styleId,jdbcType=VARCHAR},
      TYPE_ID = #{record.typeId,jdbcType=VARCHAR},
      MARKET_PRICE = #{record.marketPrice,jdbcType=INTEGER},
      UNIT = #{record.unit,jdbcType=VARCHAR},
      STORE_NUM = #{record.storeNum,jdbcType=INTEGER},
      SALE_NUM = #{record.saleNum,jdbcType=INTEGER},
      STATUS = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.datangedu.cn.model.Product.Product">
    update product
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        CODE = #{code,jdbcType=INTEGER},
      </if>
      <if test="img != null">
        IMG = #{img,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        INFO = #{info,jdbcType=VARCHAR},
      </if>
      <if test="showOrder != null">
        SHOW_ORDER = #{showOrder,jdbcType=INTEGER},
      </if>
      <if test="styleId != null">
        STYLE_ID = #{styleId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        TYPE_ID = #{typeId,jdbcType=VARCHAR},
      </if>
      <if test="marketPrice != null">
        MARKET_PRICE = #{marketPrice,jdbcType=INTEGER},
      </if>
      <if test="unit != null">
        UNIT = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="storeNum != null">
        STORE_NUM = #{storeNum,jdbcType=INTEGER},
      </if>
      <if test="saleNum != null">
        SALE_NUM = #{saleNum,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.datangedu.cn.model.Product.Product">
    update product
    set NAME = #{name,jdbcType=VARCHAR},
      CODE = #{code,jdbcType=INTEGER},
      IMG = #{img,jdbcType=VARCHAR},
      INFO = #{info,jdbcType=VARCHAR},
      SHOW_ORDER = #{showOrder,jdbcType=INTEGER},
      STYLE_ID = #{styleId,jdbcType=VARCHAR},
      TYPE_ID = #{typeId,jdbcType=VARCHAR},
      MARKET_PRICE = #{marketPrice,jdbcType=INTEGER},
      UNIT = #{unit,jdbcType=VARCHAR},
      STORE_NUM = #{storeNum,jdbcType=INTEGER},
      SALE_NUM = #{saleNum,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=INTEGER}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>